{
  "openapi": "3.0.0",
  "info": {
    "title": "Видеохостинг API",
    "description": "API для платформы видеохостинга с поддержкой аутентификации, загрузки видео, комментариев, лайков/дизлайков и управления пользователями. Роли: администратор, менеджер, авторизованный клиент, гость.",
    "version": "1.0.0",
    "contact": {
      "name": "Разработчик",
      "email": "support@videohosting.ru"
    }
  },
  "servers": [
    {
      "url": "https://api.videohosting.ru/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/v1",
      "description": "Development server"
    }
  ],
  "tags": [
    { "name": "Authentication", "description": "Регистрация, вход, выход" },
    { "name": "Users", "description": "Управление профилем и аватаром" },
    { "name": "Videos", "description": "Работа с видео: загрузка, просмотр, редактирование, удаление" },
    { "name": "Comments", "description": "Комментарии к видео" },
    { "name": "Reactions", "description": "Лайки и дизлайки" },
    { "name": "Admin", "description": "Административные функции" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT токен, полученный при аутентификации"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "firstName": { "type": "string", "example": "Иван" },
          "secondName": { "type": "string", "example": "Иванов" },
          "fatherName": { "type": "string", "nullable": true, "example": "Иванович" },
          "dateOfBirth": { "type": "string", "format": "date", "example": "1990-01-01" }
        }
      },
      "Authorization": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "login": { "type": "string", "example": "user@example.com" },
          "id_user": { "type": "integer", "example": 1 },
          "id_role": { "type": "integer", "example": 2 },
          "id_avatar": { "type": "integer", "nullable": true, "example": 3 },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "role_name": { "type": "string", "example": "Менеджер" }
        }
      },
      "Avatar": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "icon_path": { "type": "string", "example": "/uploads/avatars/avatar123.png" }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "id_creator": { "type": "integer", "example": 2 },
          "id_status": { "type": "integer", "example": 1 },
          "title": { "type": "string", "example": "Мой первый ролик" },
          "description": { "type": "string", "example": "Описание видео" },
          "duration": { "type": "integer", "example": 120 },
          "views_count": { "type": "integer", "example": 150 },
          "likes_count": { "type": "integer", "example": 10 },
          "dislikes_count": { "type": "integer", "example": 2 },
          "comments_count": { "type": "integer", "example": 5 },
          "video_file": { "type": "string", "example": "/uploads/videos/video123.mp4" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "creator_login": { "type": "string", "example": "author@example.com" },
          "status_name": { "type": "string", "example": "published" }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "id_authorization": { "type": "integer" },
          "id_video": { "type": "integer" },
          "content": { "type": "string", "example": "Отличное видео!" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "author_login": { "type": "string", "example": "user@example.com" }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "role_name": { "type": "string", "example": "Администратор" }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "status_name": { "type": "string", "example": "processing" }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["login", "password"],
        "properties": {
          "login": { "type": "string", "example": "user@example.com" },
          "password": { "type": "string", "format": "password", "example": "secret123" }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": { "type": "string" },
          "user": { "$ref": "#/components/schemas/Authorization" }
        }
      },
      "RegistrationRequest": {
        "type": "object",
        "required": ["login", "password", "firstName", "secondName", "dateOfBirth"],
        "properties": {
          "login": { "type": "string", "example": "newuser@example.com" },
          "password": { "type": "string", "format": "password", "example": "pass123" },
          "firstName": { "type": "string", "example": "Анна" },
          "secondName": { "type": "string", "example": "Петрова" },
          "fatherName": { "type": "string", "nullable": true, "example": "Сергеевна" },
          "dateOfBirth": { "type": "string", "format": "date", "example": "1995-06-15" }
        }
      },
      "VideoUploadResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "message": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        },
        "description": "Стандартный объект ошибки"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Регистрация нового пользователя",
        "description": "Создаёт записи в таблицах users и authorizations, присваивает роль клиента (id_role = 3), аватар не назначается.",
        "operationId": "registerUser",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegistrationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Регистрация успешна",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoginResponse" }
              }
            }
          },
          "400": {
            "description": "Некорректные данные или пользователь уже существует",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Аутентификация пользователя",
        "description": "Проверяет логин/пароль, возвращает JWT токен и данные авторизации.",
        "operationId": "loginUser",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный вход",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoginResponse" }
              }
            }
          },
          "401": {
            "description": "Неверный логин или пароль",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Выход из системы",
        "description": "Инвалидирует текущий JWT токен (на стороне клиента удаление токена, на сервере можно добавить чёрный список).",
        "operationId": "logoutUser",
        "tags": ["Authentication"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Успешный выход",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Logged out" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "summary": "Получить профиль текущего пользователя",
        "description": "Возвращает данные authorizations, users, аватар, роль.",
        "operationId": "getProfile",
        "tags": ["Users"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Данные профиля",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorization": { "$ref": "#/components/schemas/Authorization" },
                    "user": { "$ref": "#/components/schemas/User" },
                    "avatar": { "$ref": "#/components/schemas/Avatar" }
                  }
                }
              }
            }
          },
          "401": { "description": "Не авторизован" }
        }
      },
      "put": {
        "summary": "Обновление профиля пользователя",
        "description": "Обновляет поля в таблице users. Логин и роль не меняются.",
        "operationId": "updateProfile",
        "tags": ["Users"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": { "type": "string" },
                  "secondName": { "type": "string" },
                  "fatherName": { "type": "string", "nullable": true },
                  "dateOfBirth": { "type": "string", "format": "date" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Профиль обновлён",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "400": { "description": "Ошибка валидации" }
        }
      }
    },
    "/profile/avatar": {
      "post": {
        "summary": "Загрузка аватара",
        "description": "Принимает файл изображения, сохраняет на сервер, создаёт запись в avatars и обновляет authorizations.id_avatar.",
        "operationId": "uploadAvatar",
        "tags": ["Users"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "Файл аватара (png, jpg, до 2 МБ)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Аватар загружен",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Avatar" }
              }
            }
          },
          "400": { "description": "Ошибка загрузки" }
        }
      },
      "delete": {
        "summary": "Удаление текущего аватара",
        "description": "Устанавливает id_avatar = NULL, запись в avatars остаётся (опционально – удалить физический файл).",
        "operationId": "deleteAvatar",
        "tags": ["Users"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Аватар удалён" }
        }
      }
    },
    "/videos": {
      "get": {
        "summary": "Список видео с возможностью фильтрации и сортировки",
        "description": "Доступно всем (гостям, авторизованным). Параметры пагинации, фильтрация по статусу (для менеджеров/админов – все статусы, для остальных – только 'published').",
        "operationId": "getVideos",
        "tags": ["Videos"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 },
            "description": "Номер страницы"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 },
            "description": "Количество элементов на странице"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["date", "views", "likes"], "default": "date" },
            "description": "Поле для сортировки"
          },
          {
            "name": "order",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
            "description": "Порядок сортировки"
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Фильтр по статусу (только для админов/менеджеров)"
          }
        ],
        "responses": {
          "200": {
            "description": "Список видео",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": { "type": "array", "items": { "$ref": "#/components/schemas/Video" } },
                    "total": { "type": "integer" },
                    "page": { "type": "integer" },
                    "limit": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Загрузка нового видео",
        "description": "Доступно только авторизованным пользователям (любая роль, кроме гостя). Видео создаётся со статусом 'processing'. Позже фоновый процесс обновит статус на 'published' или 'failed'.",
        "operationId": "uploadVideo",
        "tags": ["Videos"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "video": {
                    "type": "string",
                    "format": "binary",
                    "description": "Видеофайл (mp4, webm, до 2 ГБ)"
                  }
                },
                "required": ["title", "video"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Видео загружено, в обработке",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VideoUploadResponse" }
              }
            }
          },
          "400": { "description": "Ошибка валидации" }
        }
      }
    },
    "/videos/{videoId}": {
      "get": {
        "summary": "Получить информацию о видео и ссылку на файл",
        "description": "Увеличивает счётчик просмотров (views_count) при каждом запросе (один раз на сессию – реализовать на клиенте или через промежуточное ПО).",
        "operationId": "getVideoById",
        "tags": ["Videos"],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "responses": {
          "200": {
            "description": "Данные видео",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Video" }
              }
            }
          },
          "404": { "description": "Видео не найдено" }
        }
      },
      "put": {
        "summary": "Редактирование метаданных видео",
        "description": "Доступно создателю видео, менеджеру или администратору.",
        "operationId": "updateVideoMetadata",
        "tags": ["Videos"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённое видео",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Video" }
              }
            }
          },
          "403": { "description": "Нет прав" },
          "404": { "description": "Видео не найдено" }
        }
      },
      "delete": {
        "summary": "Удаление видео",
        "description": "Доступно создателю видео, менеджеру или администратору. Удаляет файл и запись из БД (каскадно удаляются комментарии, лайки/дизлайки).",
        "operationId": "deleteVideo",
        "tags": ["Videos"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "responses": {
          "204": { "description": "Удалено" },
          "403": { "description": "Нет прав" },
          "404": { "description": "Видео не найдено" }
        }
      }
    },
    "/videos/{videoId}/comments": {
      "get": {
        "summary": "Получить комментарии к видео",
        "description": "Возвращает комментарии к указанному видео с пагинацией.",
        "operationId": "getCommentsByVideo",
        "tags": ["Comments"],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 },
            "description": "Номер страницы"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 },
            "description": "Количество элементов на странице"
          }
        ],
        "responses": {
          "200": {
            "description": "Список комментариев",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": { "type": "array", "items": { "$ref": "#/components/schemas/Comment" } },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Добавить комментарий к видео",
        "description": "Только авторизованный пользователь.",
        "operationId": "addComment",
        "tags": ["Comments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string", "maxLength": 3000 }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Комментарий добавлен",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Comment" }
              }
            }
          },
          "400": { "description": "Пустой комментарий" }
        }
      }
    },
    "/comments/{commentId}": {
      "delete": {
        "summary": "Удалить комментарий",
        "description": "Доступно автору комментария, менеджеру или администратору.",
        "operationId": "deleteComment",
        "tags": ["Comments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор комментария"
          }
        ],
        "responses": {
          "204": { "description": "Удалено" },
          "403": { "description": "Нет прав" },
          "404": { "description": "Комментарий не найден" }
        }
      }
    },
    "/videos/{videoId}/reactions": {
      "get": {
        "summary": "Получить информацию о реакции текущего пользователя",
        "description": "Возвращает 'like', 'dislike' или null.",
        "operationId": "getUserReaction",
        "tags": ["Reactions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "responses": {
          "200": {
            "description": "Реакция пользователя",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reaction": {
                      "type": "string",
                      "nullable": true,
                      "enum": ["like", "dislike"],
                      "description": "Тип реакции или null, если нет реакции"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/videos/{videoId}/like": {
      "post": {
        "summary": "Поставить лайк видео",
        "description": "Если пользователь уже поставил дизлайк, дизлайк удаляется и добавляется лайк (атомарно).",
        "operationId": "likeVideo",
        "tags": ["Reactions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "responses": {
          "200": { "description": "Лайк поставлен (или обновлён)" },
          "400": { "description": "Нельзя лайкнуть своё видео (опционально)" }
        }
      },
      "delete": {
        "summary": "Удалить лайк",
        "description": "Удаляет лайк пользователя с указанного видео.",
        "operationId": "removeLike",
        "tags": ["Reactions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "responses": {
          "204": { "description": "Лайк удалён" }
        }
      }
    },
    "/videos/{videoId}/dislike": {
      "post": {
        "summary": "Поставить дизлайк видео",
        "description": "Если пользователь уже поставил лайк, лайк удаляется и добавляется дизлайк.",
        "operationId": "dislikeVideo",
        "tags": ["Reactions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "responses": {
          "200": { "description": "Дизлайк поставлен (или обновлён)" }
        }
      },
      "delete": {
        "summary": "Удалить дизлайк",
        "description": "Удаляет дизлайк пользователя с указанного видео.",
        "operationId": "removeDislike",
        "tags": ["Reactions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор видео"
          }
        ],
        "responses": {
          "204": { "description": "Дизлайк удалён" }
        }
      }
    },
    "/admin/roles": {
      "get": {
        "summary": "Список всех ролей",
        "description": "Доступно только администратору.",
        "operationId": "getRoles",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Список ролей",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Role" } }
              }
            }
          },
          "403": { "description": "Доступ запрещён" }
        }
      }
    },
    "/admin/users": {
      "get": {
        "summary": "Список всех пользователей",
        "description": "Доступно только администратору. Возвращает список пользователей с пагинацией.",
        "operationId": "getAllUsers",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Номер страницы"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Количество элементов на странице"
          }
        ],
        "responses": {
          "200": {
            "description": "Список пользователей",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      { "$ref": "#/components/schemas/Authorization" },
                      { "$ref": "#/components/schemas/User" }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Изменение роли пользователя",
        "description": "Доступно только администратору.",
        "operationId": "changeUserRole",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "roleId"],
                "properties": {
                  "userId": { "type": "integer" },
                  "roleId": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Роль обновлена" },
          "404": { "description": "Пользователь не найден" }
        }
      },
      "delete": {
        "summary": "Удаление пользователя",
        "description": "Доступно только администратору.",
        "operationId": "deleteUser",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор пользователя"
          }
        ],
        "responses": {
          "204": { "description": "Пользователь удалён" },
          "404": { "description": "Не найден" }
        }
      }
    },
    "/admin/statuses": {
      "get": {
        "summary": "Список всех статусов видео",
        "description": "Доступно только администратору/менеджеру.",
        "operationId": "getStatuses",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Список статусов",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Status" } }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Создать новый статус",
        "description": "Доступно только администратору.",
        "operationId": "createStatus",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status_name"],
                "properties": { "status_name": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Статус создан",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Status" }
              }
            }
          },
          "409": { "description": "Статус уже существует" }
        }
      },
      "delete": {
        "summary": "Удалить статус",
        "description": "Доступно только администратору, если нет видео с этим статусом.",
        "operationId": "deleteStatus",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "statusId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Идентификатор статуса"
          }
        ],
        "responses": {
          "204": { "description": "Удалён" },
          "409": { "description": "Статус используется" }
        }
      }
    }
  }
}